		  	@font-face {
			font-family: "Seurat Pro";
			src: url(https://famicomcd.org/fonts/Seurat-Pro.woff2);
			}
			
			a:link {
			text-decoration:none;
			color:white;
			}
			
			a:active {
			text-decoration:none;
			color:white;
			}
			
			a:visited {
			text-decoration:none;
			color:white;
			}
			
			body { 
			font-family: "Seurat Pro", arial; 
			margin:0;
			background-image: url('../graphics/notepadbg.png');
			background-size:20px;
			}
			
			.header {
			background-color:#fb6100;
			padding:1%;
			color: white;
			}
			
			#folderinputbox {
			border: 4px dashed white;
			padding: 1%;
			text-align: center;
			width: 45%;
			margin: 0 auto;
			border-radius:30px;
			background-color:;
			transition:ease-in-out 0.2s;
			opacity:0.9;
			font-size:18px;
			}
			
			#folderinputbox:hover {
			opacity:1 !important;
			background-color:#ff7824;
			}
			
			#headbuttons {
			align-items: center;
			margin:5px 0;
			display:none;
			}
			
			.headbuttonvisible {
			display:block ruby !important;
			}
			
			.flipnotesList {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
			gap:15px;
			}
			
			.flipnote {
			display: flex;
			align-items: center;
			margin: 0 auto;
			width: 330px;
			}
			
			#thumb, flipnote-image::part(Image), .largethumb {
			width: 64px;
			height: 48px;
			}
			
			#thumb, .largethumb {
			margin-right: 1rem;
			border: outset 1px #797979;
			box-shadow: 3px 3px 2px rgba(11, 4, 60, 0.3);
			cursor:pointer;
			}
			
			flipnote-image::part(Image) {
			image-rendering:unset;
			}
			
			#thumb, #loadingfrog {
			image-rendering: pixelated;
			}		

			#thumb:active, .largethumb:active {
			box-shadow: 1px 1px 0px rgba(11, 4, 60, 0.3);
			transform: scale(0.99) translate(2px, 2px);
			filter: contrast(1.5);
			}
			
			.flipnumber {
			position: absolute;
			font-size: 10px;
			transform: translate(43px,-17px);
			z-index:20;
			-webkit-text-stroke: 3px white;
			text-stroke: 3px white;
			paint-order: stroke fill;
			pointer-events:none;
			}
			
			.flipnote:has(#thumb:active:not(.playeractive)) .flipnumber, .flipnote:has(.largethumb:active:not(.playeractive)) .flipnumber {
			transform: scale(0.99) translate(45px, -15px);
			}

			#flipnotesListHeader {
			text-align:center;
			margin-top: 10px;
			}
			
			.nomargin {
			margin:0;
			}
			
			.icons {
			width: 16px;
			height: 16px;
			margin-left: 5px;
			}
			
			.filename {
			font-size:80%;
			color:gray;
			}
			
			.dupFlex {
			display:inline-flex;
			margin: 5px 15px 0px 0;
			}
			
			.foldercounter {
			float:right;
			display:block;
			color: #fb6100;
			}
			
			.showflipnotes {
			margin:0 auto;
			width:80%;
			}
			
			.dupbutton, #folderSelect {
			border: solid 2px #fbcb79;
			padding: 1px 20px;
			background-color: white;
			}
			
			.dupbutton, #folderSelect, #folderList div {
			text-align: center;
			color: #fb6100;
			}
			
			.dupbutton, #folderSelect, #folderList div, #folderinputbox, #closePlayer, #returnTop, .headerbutton, #digitalShift, .tutorialbutton, .flipnthumbnail, #thumb, .flipnumber {
			cursor:pointer;
			user-select:none;
			}
			
			.dupbutton:active, #folderSelect:active, #folderList div:active {
			background-color: #e3dbaa;
			border-color:#302820 !important;
			color: #ba2000;
			}
			
			#folderList {
			position: absolute;
			padding-bottom:20px;
			z-index:100;
			}
			
			#folderList div {
			background-color:#fbfbe3;
			border:solid 4px #fb9a49;
			border-radius:5px;
			width: 192px;
			margin: 5px 0;
			}
			
			.duplist {
			margin-bottom:20px;
			padding-bottom: 20px;
			border-bottom: solid 3px #fb6100;
			}
			
			#flipnotesList {
			margin:10px 0 20px 0;
			}
			
			.dupflips {
			width: fit-content;
			margin: 0 auto;
			}
			
			#loadingfrog {
			position:fixed;
			display:none;
			right:40px;
			bottom:50px;
			height:70px;
			}
			
			.spinofficon {
			width:20px;
			}
			
			#flipnotePlayer {
			background-color:white;
			padding:10px;
			position: fixed;
			border-radius:9px;
			top: 40%;
			left: 40%;
			z-index: 200;
			border: solid 2px #fbcb79;
			}
			
			#closePlayer, #returnTop, #digitalShift {
			bottom:0;
			z-index:202;
			position: fixed;
			background-color:#fb6100;
			padding:10px;
			color:white;
			border-radius:15px 15px 0 0;
			text-align:center;
			font-size:18px;
			}
			
			.slidebutton {
			opacity: 0;
			transform: translateY(20px);
			transition: opacity 0.3s ease, transform 0.3s ease;
			pointer-events:none;
			}
			
			.slidebutton.visible {
			opacity: 1;
			transform: translateY(0);
			pointer-events:auto;
			}
			
			#closePlayer {
			left:0;
			width:135px;
			}
			
			#returnTop {
			right:0;
			width:85px;
			}
			
			.shifttopbutton {
			right:115px !important;
			}
			
			#digitalShift {
			right:0;
			width: 90px;
			}
			
			#closePlayer:active, #returnTop:active, #digitalShift:active, #digitalShift.held {
			color:#302820;
			border: solid #302820;
			border-width:4px 4px 0 4px;
			padding:6px 6px 10px 6px;
			}
			
			#digitalShift.held {
			transform: translateY(5px);
			}
			
			#folderSelectWrapper {
			position: relative;
			width: 200px;
			}
			
			flipnote-player::part(Controls__frameCounter) {
			user-select:none;
			}
			
			flipnote-player {
			--flipnote-player-focus-outline:none;
			--flipnote-player-font-family: "Seurat Pro", arial;
			}
			
			.playeractive, #thumb.playeractive {
			outline: solid 4px blue;
			border-radius:1px;
			border:solid 1px blue;
			box-shadow:none !important;
			}

			
			.playeractive:active {
			box-shadow:none !important;
			transform: none !important;
			filter: none !important;
			}
			
			.playstateicon {
			position:absolute;
			z-index:20;
			transform: translate(175%, 57%);
			width:24px;
			}
			
			.playstateicon:active {
			filter: brightness(80%);
			}
			
			.headerbutton {
			margin: 2px 5px;
			padding:10px 20px;
			border-radius:20px;
			transition: ease-in-out 0.2s;
			float:right;
			font-size:18px;
			}
			
			.headerbutton:hover {
			background-color:#ff8539;
			transform: scale(1.1);
			}
			
			.headerbutton:active {
			opacity:0.7;
			transform: scale(0.95);
			transition: ease-in-out 0.05s;
			}
			
			.headerbuttongroup {
			width: 80%;
			margin: 0 auto;
			}
			
			.therealheader {
			background-color:#fb6100;
			z-index:2000;
			position:relative;
			border-bottom: solid 4px #ba2000;
			padding: 15px 0;
			width:100%;
			}
			
			.logo {
			height:50px;
			}
			
			#sfxvol {
			width: 92%;
			}

			.sfxvol {
			width: 88%;
			margin: 0 15px;
			position: relative;
			display:inline-flex;
			cursor: pointer;
			}

			#sfxvolicon, .frogvolicon {
			height: 30px;
			cursor: pointer;
			user-select: none;
			display:inline-block;
			margin: 0 15px 0 0;
			}

			#sfxvolslider {
			background: #ba2000;
			height: 6px;
			border-radius: 100px;
			position: relative;
			display:inline-block;
			width:100%;
			margin:auto;
			}

			#sfxvolssliderbg {
			background: white;
			height: 160%;
			width: 100%;
			border-radius: 100px;
			transform: translateY(-2px);
			}

			#sfxvolhandle {
			width: 10px;
			height: 10px;
			background: #fb6100;
			border: solid 6px white;
			border-radius: 400px;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			display: none;
			pointer-events: none;
			}

			#hamburger {
			position: relative;
			float:right;
			}

			#hambutton {
			height: 28px;
			}

			#hammenu {
			position: absolute;
			top: 50px;
			right: 0;
			background-color: #fb6100;
			border:solid 4px #ba2000;
			border-radius: 10px;
			width: 320px;
			display: none;
			z-index: 300;
			}

			#hammenu.open {
			display: block;
			}

			.menuop {
			padding:15px;
			display: block;
			transition: ease-in-out 0.2s;
			user-select:none;
			}

			.menuop:hover {
			background-color:#ff8539;
			border-radius: 6px;
			}

			.menuop:active {
			opacity:0.7;
			transition: ease-in-out 0.05s;
			}

			.mobileonly {
			display:none;
			}

			.menutitle, .toggletitle {
			padding:15px 15px 0;
			margin:0;
			color:white;
			user-select:none;
			}
			
			.toggletitle {
			padding: 15px !important;
			flex-grow: 2;
			}

			.menuhead {
			color:white;
			padding: 10px 15px 10px;
			margin:0;
			font-size:140%;
			border-bottom: solid 4px #ba2000;
			}
			
			.shiftdetails {
			display: flex;
			height: 50px;
			}
					
			.togglebutton {
			width: 48px;
			height: 28px;
			cursor: pointer;
			user-select: none;
			margin: auto 21px auto 0;
			}

			.togglebuttrack {
			background-color: #ba2000;
			border-radius: 100px;
			width: 100%;
			height: 100%;
			position: relative;
			transition: ease-in-out 0.2s;
			padding: auto 0;
			}

			.togglehandle {
			background-color: white;
			border-radius: 100px;
			width: 24px;
			height: 24px;
			position: absolute;
			top: 2px;
			left: 22px;
			transition: ease-in-out 0.2s;
			}

			.togglebutton.off .togglehandle {
			background-color:#fbcb79;
			left: 3px;
			}
			
			.togglebutton.disabled .togglehandle {
			background-color:#fb6100;
			}
			
			.frogpopupbox {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2001;
			}
			
			.frogpopup {
			width: 700px;
			height: 400px;
			background-color: #fb6100;
			border: solid 4px #ba2000;
			border-radius: 10px;
			z-index:20;
			position:relative;
			}
			
			.frogboxholder {
			animation: frogpopupboxpopin 1.1s ease-out;
			animation-fill-mode: forwards;
			}
			
			.frogboxholder.popupout {
			animation: frogpopupboxpopout 1.1s ease-in;
			}
			
			@keyframes frogpopupboxpopin {
			0% { transform: scale(0, 0); }
			70% { transform: scale(0, 0); }
			85% { transform: scale(1.05, 1.1); }
			100% { transform: scale(1, 1); }
			}
			
			@keyframes frogpopupboxpopout {
			0% { transform: scale(1, 1); }
			20% { transform: scale(1.05, 1.1); }
			35% { transform: scale(0, 0); }
			100% { transform: scale(0, 0); }
			}
			
			.frog {
			width: 200px;
			z-index:10;
			position:relative;
			transform: translateY(40px);
			}
			
			.froghands {
			width: 200px;
			position: absolute;
			top: 40px;
			left: 0;
			z-index:4000;
			}
			
			.speechbubble {
			margin: 0 20px;
			width: 88%;
			min-height: 54px;
			background-color: white;
			border-radius: 40px;
			padding: 20px;
			font-size:18px;
			color:#fb6100;
			display: flex;
			}

			.speechbubblearrow {
			clip-path: polygon(50% 1px, 100% 100%, 0 100%);
			background-color: white;
			height: 30px;
			width: 40px;
			margin: 5px 0 0 93px;
			transform: translateY(3px);
			}
			
			#tutorialmain {
			margin:10px auto;
			display: block;
			}
			
			#speechbubbletext, #tutorialmain {
			transition: opacity 0.3s ease;
			}
			
			.rounded {
			border: solid 4px #ba2000;
			height:172px !important;
			}
			
			.large {
			height:182px;
			border-radius:20px;
			}
			
			.medium {
			height:155px;
			}
			
			.small {
			height:140px;
			}
			
			.tutorialbutton {
			border:solid 5px #fb9a49;
			border-radius:10px;
			background-color:#fbfbe3;
			min-width: 140px;
			padding:4px;
			color:#fb6100;
			text-align:center;
			font-size:19px;
			display: inline-block;
			margin:0 20px 20px;
			}
			
			.tutorialbutton:active {
			border:solid 5px #302820;
			color:#ba2000;
			background-color:#e3dbaa;
			}
			
			.right {
			float:right;
			}
			
			.none {
			display:none;
			}
				
			.donttouchie {
			pointer-events:none !important;
			}

			@media (max-width: 1000px) {
			
			.showflipnotes {
			width: 95%;
			}
			
			.headerbuttongroup {
			width: 95%;
			}
			
			#folderinputbox {
			width: 70%;
			padding: 2% 0;
			margin: 1% auto;
			}
			
			.frogpopupbox {
			width:90%;
			}
			
			.frogpopup {
			width:100%;
			min-height:420px;
			}
			
			.speechbubble {
			width: 80%;
			min-height:79px;
			}
			
			#tutorialmain {
			width: 94%;

			}
			
			.rounded {
			border: solid 4px #ba2000;
			height: auto !important;
			}
			
			.large {
			margin-bottom:26px !important;
			border-radius:20px;
			height: 124px;
			}
			
			.medium {
			height: 122px;
			}
			
			.small {
			height:140px;
			}
			
			.autoheight {
			height:auto !important;	
			}
			
			}
			
			
			@media (max-width: 800px) {
			
			.headbuttonvisible {
			display: flex !important;
			}
			
			.foldercounter {
			display:none;
			}
			
			#folderSelectWrapper, #dupbutton {
			padding:4px;
			}
			
			#folderSelectWrapper {
			flex-grow:1;
			width: 140px;
			}
			
			#dupbutton {
			flex-grow:5;
			}
			
			#folderinputbox {
			width: 90%;
			padding: 4% 0;
			margin: 2% auto;
			}
			
			.dupflips {
			width:min-content;
			}
			
			.logo {
			height:40px;
			}
			
			.demo, .organize, .credits {
			display:none;
			}
			
			.mobileonly {
			display:block;
			}

			.flipnote {
			width: 98%;
			font-size: 122%;
			}

			#thumb, flipnote-image::part(Image), .largethumb {
			width: 128px;
			height: 96px;
			}
			
			.playstateicon {
			transform: translate(226%, 74%);
			width: 40px;
			}
			
			.playeractive {
			outline: solid 6px blue;
			}
			
			.foldernote {
			font-size: 17px;
			}
			
			#closePlayer, #returnTop, #digitalShift {
			font-size: 22px;	
			}
			
			#closePlayer {
			width: 180px;
			}
			
			#returnTop {
			width:105px;
			}
			
			.shifttopbutton {
			right:135px !important;
			}
			
			
			#digitalShift {
			width: 110px;
			}
			
			flipnote-player::part(Controls__playButton) {
			display:none;
			}

			.flipnotesList {
			grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
			}
			
			.dupbutton, #folderSelect, #folderList div {
			font-size: 17.6px;
			}
			
			.dupflips {
			width:98%;
			}
			
			.flipnumber {
			font-size: 16px;
			transform: translate(92px, -37px);
			-webkit-text-stroke: 5px white;
			text-stroke: 5px white;
			}

			
			}
			
			
			
			@media (max-width: 480px) {
				
			.flipnote {
			font-size: 99%;
			}

			#thumb, flipnote-image::part(Image), .largethumb {
			width: 96px;
			height: 72px;
			}
			
			.playstateicon {
			transform: translate(226%, 74%);
			width: 40px;
			}
			
			.playeractive {
			outline: solid 5px blue;
			}
				
			.playstateicon {
			transform: translate(208%, 68%);
			width: 32px;
			}
			
			.dupbutton, #folderSelect, #folderList div {
			font-size: 16px;
			}
			
			#closePlayer, #returnTop, #digitalShift {
			font-size: 18px;	
			}
			
			#closePlayer {
			left:0;
			width:135px;
			}
			
			#returnTop {
			right:0;
			width:85px;
			}
			
			.shifttopbutton {
			right:115px !important;
			}
			
			#digitalShift {
			right:0;
			width: 90px;
			}
			
			.flipnumber {
			font-size: 14px;
			transform: translate(65px, -26px);
			-webkit-text-stroke: 4px white;
			text-stroke: 4px white;
			}

			}